body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: system-ui;
    background-color: #f6f6f6;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.heading {
    font-size: (4rem, 8rem, 16.5rem);
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.blog_heading
{
    font-size: (2rem, 4rem, 8.5rem);
    font-weight: lighter;
    color: black;
    margin-bottom: 8px;
    margin-left: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    margin-top: 0;
}


.text {
    font-size: (2rem, 4rem, 8.5rem);
    font-weight: lighter;
    color: grey;
    margin-bottom: 16px;
    margin-top: 0;
}

.text_mini
{
    font-size: (1.2rem, 1.8rem, 2.2rem);
    font-weight: lighter;
    color: darkgray;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-top: 0;
    text-overflow: ellipsis;
    text-align-last: center;
}


.white_round_background {
    margin-top: 24%;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
}

.navbar_icons {
    margin-top: 35%;
}

.margin-left
{
    margin-left: 4.5%;
}

.margin_top
{
    padding-top: 1.5%;
}

.margin-bottom
{
    margin-bottom: 2.5%;
}

.margin-right
{
    margin-right: 2.5%;
}


.background_color_1
{
    background-color: #fbe5c9;
}


.background_color_2 {
    background-color: #d9dcfa;
}

.background_color_3 {
    background-color: #e6e6e6;
}

.black_button {
    
    background-color: black;
    color: white;
    padding: 12px 32px;
    font-size: 12px;
    border-radius: 0.5em;
}



.greetings {
    margin-top: 0.5%;
    margin-left: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align-last: right;

}

.dashboard {
    min-height: 650px;
    max-height: 1150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}


.dash {
    border-radius: 0.8rem;
    border: 0.4rem solid #121212;
    background-color: white;
    width: 60%;
    height: 100%;
    min-height: 580px;
    max-height: 680px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: 10% 55% 35%;
    grid-template-rows: 100%;
    gap: 0px 0px;
}

.navbar_div {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar {

    border-radius: 0.8rem;
    width: 80%;
    height: 95%;
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid_div_2
{
    grid-column-start: 2;
    width: 100%;
    height: 100%;
}

.grid_div_3
{
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search_bar
{
    margin-top: 3%;
    width: 55%;
    height: 8.5%;
    border-radius: 2rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.hi
{
    width: 92%;
    border-radius: 1rem;
    background-color: #f8f8f8;
    background-image: url("res/3d-business-woman-and-man-on-a-moped.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


.trends
{
    width: 92%;
    border-radius: 1rem;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog
{
    width: 30%;
    height: 95%;
    margin-left: 1.5%;
    background-color: #f8f8f8;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.views
{

    margin-left: 5%;
    margin-top: 2%;
    height: 14%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}


.profile
{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile_setting_div
{
    width: 95%;
    height: 10%;
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.profile_setting_img {
    
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.following_div_3
{
    width: 95%;
    height: 80%;
    margin-top: 5%;
    background-color: #f8f8f8;
    border-radius: 1.5rem;
    
}


.lottie_div
{

    border-radius: 0.5rem;
    width: 100%;
    height: 38%;
    margin-top: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card_div
{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card
{
    background-color: #fff;
    border-radius: 0.5rem;
    width:  87%;
    height: 24%;
    margin-top: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.card_icon1
{
    padding: 1.8%;
    border-radius: 0.5rem;
    margin-left: 5%;
}

.new_follower
{
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.new_follower_container
{
   
    width: 20%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    margin-left: 4.8%;
    border-radius: 0.7rem;
}


.dashboard2
{
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 650px;
    max-height: 1150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9b21;
}

.dash2
{

    background-color: white;
    width: 60%;
    height: 100%;
    min-height: 580px;
    max-height: 680px;
    display: grid;
    grid-template-columns: 10% 55% 35%;
    grid-template-rows: 100%;
    gap: 0px 0px;

}

.analytics_div
{
    margin-top: 2.5%;
    width: 92%;
    border-radius: 1rem;
    height: 45%;
    background-color: #f8f8f8;
}

.graph_div
{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}